@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.features {
  width: 1200px;
  margin: 65px auto;
}

.features .features-title {
  text-align: center;
}

.features .features-title span {
  border-bottom: 2px solid #ff6883;
  padding-bottom: 10px;
}

.features .features-title h1 {
  font-size: 2rem;
}

.features .features-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features .features-content div.left,
.features .features-content div.middle,
.features .features-content div.right {
  width: 33%;
}

.features .features-content div.left,
.features .features-content div.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features .features-content div.middle img {
  width: 100%;
}

.features .features-content div.left .f-info {
  text-align: right;
}

.features .features-content .f-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  margin: 15px 10px;
  -webkit-box-shadow: 2px 0px 6px 2px #0000000d;
          box-shadow: 2px 0px 6px 2px #0000000d;
}

.features .features-content .f-item div.f-info {
  width: 75%;
  padding: 5px;
}

.features .features-content .f-item .f-img {
  width: 25%;
  text-align: center;
}

.features .features-content .f-item .f-img img {
  margin-top: 40px;
}

@media screen and (max-width: 1200px) {
  .features {
    width: 992px;
  }
  .features .features-title {
    margin: 40px 0px;
  }
  .features .features-title span {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .features {
    width: 750px;
  }
  .features .features-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .features-content div.left,
  .features .features-content div.middle,
  .features .features-content div.right {
    width: 100%;
  }
  .features .features-content div.middle {
    margin-top: 50px;
  }
  .features .features-content div.left .f-info, .features .features-content div.right .f-info {
    width: 85%;
  }
  .features .features-content div.left .f-img, .features .features-content div.right .f-img {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  .features {
    width: 550px;
  }
}

@media screen and (max-width: 576px) {
  .features {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .features {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
  -webkit-transition: height 0.5s ease, padding 0.3s ease;
  transition: height 0.5s ease, padding 0.3s ease;
}

nav li {
  float: left;
  padding: 10px 18px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Rubik";
}

nav a {
  text-decoration: none;
  color: gray;
}

nav a:hover {
  color: blue;
}

nav a:active {
  color: #f7073f;
}

nav .menu, nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

nav .menu {
  display: none;
}

.menuIcon {
  width: 30px;
}

@media screen and (max-width: 1200px) {
  nav {
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  nav {
    width: 750px;
  }
  nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: white;
    position: absolute;
    height: 0px;
    overflow: hidden;
    top: 50px;
  }
  .menu-active {
    -webkit-box-shadow: 2px 2px 2px 2px lightgray;
            box-shadow: 2px 2px 2px 2px lightgray;
    padding: 10px;
    height: 275px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 550px;
  }
}

@media screen and (max-width: 576px) {
  nav {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  nav {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-links {
    width: calc(100% - 30px);
  }
}

body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

p {
  color: #80808091;
  font-size: 15px;
}

.intro-section {
  background-image: url(../assets/hero-area.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 62%;
  padding: 100px 0px;
}

.intro-section .intro {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-section .intro .intro-content {
  padding: 20px 10px;
  width: 50%;
}

.intro-section .intro .intro-content .intro-title {
  font-size: 50px;
}

.intro-section .intro .intro-content #dBtn {
  color: white;
  background-color: #f7073f;
  border-radius: 20px;
  padding: 15px 25px;
  border: none;
  margin: 15px 0px;
  margin-right: 12px;
}

.intro-section .intro .intro-content #lBtn {
  color: #f7073f;
  background-color: white;
  border-radius: 20px;
  padding: 15px 25px;
  background-color: white;
  border: 2px solid #df5d88;
  margin: 8px 0px;
}

.intro-section .intro .side-img {
  width: 50%;
  padding: 20px;
  text-align: center;
}

.intro-section .intro .side-img img {
  width: 75%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .intro-section .intro {
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .intro-section {
    background-position: center;
  }
  .intro-section .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 750px;
  }
  .intro-section .intro .intro-content, .intro-section .intro .side-img {
    width: 100%;
  }
  .intro-section .intro .side-img {
    padding: 0;
  }
  .intro-section .intro .side-img img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .intro-section .intro {
    width: 550px;
  }
}

@media screen and (max-width: 576px) {
  .intro-section .intro {
    width: 400px;
  }
  .intro-section .intro .intro-content .intro-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 400px) {
  .intro-section .intro {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.price-section {
  width: 1200px;
  margin: auto;
  margin-bottom: 30px;
}

.price-title {
  text-align: center;
}

.price-title span {
  border-bottom: 2px solid #ff6883;
  padding-bottom: 10px;
}

.price-title h1 {
  font-size: 2rem;
}

.price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan {
  width: 30%;
  -webkit-box-shadow: 2px 0px 6px 2px #0000000d;
          box-shadow: 2px 0px 6px 2px #0000000d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px;
  margin: 20px 0px;
}

#plan-2 {
  -webkit-box-shadow: 2px 1px 6px 6px #0000000f;
          box-shadow: 2px 1px 6px 6px #0000000f;
}

.price span {
  font-size: 1.3em;
  font-weight: bold;
  color: #f7073f;
}

.buyBtn {
  color: white;
  background-color: #f7073f;
  border-radius: 20px;
  padding: 15px 25px;
  border: none;
}

#plan-1 .icon-container, #plan-3 .icon-container {
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 50%;
}

#plan-2 .icon-container {
  background-color: #f7073f;
  padding: 15px;
  border-radius: 50%;
}

.icon-container img {
  vertical-align: middle;
}

@media screen and (max-width: 1200px) {
  .price-section {
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .price-section {
    width: 750px;
  }
  .price-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .plan {
    min-width: 350px;
  }
  .price-title {
    margin: 40px 0px;
  }
  .price-title span {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .price-section {
    width: 550px;
  }
  .plan {
    min-width: 250px;
  }
}

@media screen and (max-width: 576px) {
  .price-section {
    width: 400px;
  }
  .price-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .plan {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .price-section {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.services {
  width: 1200px;
  margin: 30px auto;
}

.service-title {
  text-align: center;
}

.service-title span {
  border-bottom: 2px solid #ff6883;
  padding-bottom: 10px;
}

.service-title h1 {
  font-size: 2rem;
}

.service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-content .s-item {
  text-align: center;
  width: 30%;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 1px 6px 2px #00000029;
  box-shadow: 2px 0px 6px 2px #0000000d;
  padding: 20px 10px;
}

.s-item .icon-container {
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #8080801f;
}

.icon-container img {
  vertical-align: middle;
  width: 30px;
}

@media screen and (max-width: 1200px) {
  .services {
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .services {
    width: 750px;
  }
  .service-content .s-item {
    width: 48%;
  }
  .service-title {
    margin: 40px 0px;
  }
  .service-title span {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .services {
    width: 550px;
  }
}

@media screen and (max-width: 576px) {
  .services {
    width: 400px;
  }
  .service-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service-content .s-item {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .services {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.statistics-section {
  background-color: whitesmoke;
  padding: 45px 0px;
}

.statistics-section .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: auto;
}

.statistics-section .statistics .stats-content {
  width: 50%;
  padding: 10px 20px;
}

.statistics-section .statistics .stats-content p {
  color: #80808091;
  font-size: 15px;
}

.statistics-section .statistics .stats-content h1 {
  font-size: 2rem;
}

.statistics-section .statistics .stats-content .rBtn {
  color: white;
  background-color: #f7073f;
  border-radius: 20px;
  padding: 15px 25px;
  border: none;
  margin-top: 30px;
  padding: 13px 25px;
}

.statistics-section .statistics .side-img {
  width: 50%;
}

.statistics-section .statistics .side-img img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .statistics-section .statistics {
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .statistics-section .statistics {
    width: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statistics-section .statistics .stats-content, .statistics-section .statistics .side-img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .statistics-section .statistics {
    width: 550px;
  }
}

@media screen and (max-width: 576px) {
  .statistics-section .statistics {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .statistics-section .statistics {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.team-section {
  background-color: whitesmoke;
  padding: 50px 0px;
}

.team {
  width: 1200px;
  margin: auto;
}

.team-title {
  text-align: center;
  margin-bottom: 35px;
}

.team-title span {
  border-bottom: 2px solid #ff6883;
  padding-bottom: 10px;
}

.team-title h1 {
  font-size: 2rem;
}

.team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.instructor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  -webkit-box-shadow: 2px 0px 6px 2px #0000000d;
          box-shadow: 2px 0px 6px 2px #0000000d;
  margin-bottom: 30px;
}

.i-img {
  width: 30%;
}

.i-role {
  color: #80808091;
  font-size: 15px;
  color: #686767;
}

.i-about {
  color: #80808091;
  font-size: 15px;
}

.i-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.i-info {
  width: 69%;
  vertical-align: top;
  padding: 3px 10px;
  height: 100%;
}

.icon img {
  width: 20px;
  margin-right: 7px;
}

@media screen and (max-width: 1200px) {
  .team {
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .team {
    width: 750px;
  }
  .team-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .instructor {
    width: 100%;
  }
  .team-title {
    margin: 55px 0px;
  }
  .team-title span {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .team {
    width: 550px;
  }
}

@media screen and (max-width: 576px) {
  .team {
    width: 400px;
  }
  .instructor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .i-img, .i-info {
    width: 100%;
  }
  .i-img img {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .team {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.trial-section {
  padding: 10px 0px;
}

.trial {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trial .disc, .trial .register {
  width: 40%;
}

.disc h1 {
  font-size: 25px;
}

.register {
  position: relative;
}

.register button {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  color: white;
  background-color: #f7073f;
  border-radius: 20px;
  padding: 15px 25px;
}

@media screen and (max-width: 1200px) {
  .trial {
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .trial {
    width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .trial {
    width: 550px;
  }
  .trial .disc {
    width: 60%;
  }
  .trial .register {
    width: 35%;
  }
}

@media screen and (max-width: 576px) {
  .trial-section {
    padding-bottom: 20px;
  }
  .trial {
    width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trial .disc {
    width: 100%;
  }
  .trial .register {
    margin-top: 20px;
    width: 100%;
  }
  .trial .register button {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 400px) {
  .trial {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.users-section {
  background-color: #f7073f;
  padding: 20px 0px;
}

.users {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 50px 25px;
  -webkit-box-shadow: 2px 0px 6px 2px #0000000d;
          box-shadow: 2px 0px 6px 2px #0000000d;
}

.u-img img {
  border-radius: 50%;
}

.u-name {
  margin: 7px 0;
}

.u-role {
  margin: 5px 0px;
  font-weight: bold;
  color: #242424;
}

.dotIcons {
  text-align: center;
  margin: 20px 0px;
}

.dot {
  height: 10px;
  width: 10px;
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 5px;
}

#dot-4 {
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  .users {
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .users {
    width: 750px;
  }
  .user:last-child {
    display: none;
  }
  .user {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .users {
    width: 550px;
  }
}

@media screen and (max-width: 576px) {
  .users {
    width: 400px;
  }
  .user:nth-child(2) {
    display: none;
  }
  .user {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .users {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.contact-section {
  background-color: whitesmoke;
  padding: 10px 0px;
}

.contact {
  width: 1200px;
  margin: 35px auto;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form {
  width: 60%;
  padding: 10px;
}

.contact-map {
  width: 40%;
  padding: 10px;
}

.contact-map iframe {
  width: 100%;
}

.contact-title {
  text-align: center;
}

.contact-title span {
  border-bottom: 2px solid #ff6883;
  padding-bottom: 10px;
}

.contact-title h1 {
  font-size: 2rem;
}

.contact-form div {
  margin: 15px 0px;
}

.contact input {
  border-radius: 5px;
  border: none;
}

.email-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email-name input {
  width: 47%;
  padding: 10px;
}

.subject input, .message textarea {
  width: 100%;
  padding: 10px;
}

.message textarea {
  height: 150px;
  border-radius: 5px;
  border: none;
}

input[type=submit] {
  color: white;
  background-color: #f7073f;
  border-radius: 20px;
  padding: 15px 25px;
  border: none;
}

@media screen and (max-width: 1200px) {
  .contact {
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .contact {
    width: 750px;
  }
  .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form, .contact-map {
    width: 100%;
  }
  .contact-title {
    margin: 40px 0px;
  }
  .contact-title span {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    width: 550px;
  }
}

@media screen and (max-width: 576px) {
  .contact {
    width: 400px;
  }
  .email-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .email-name input {
    width: 100%;
  }
  .email-name input[name="name"] {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 400px) {
  .contact {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

footer {
  padding: 15px 0px;
}

.f-content {
  width: 1200px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-company {
  width: 1200px;
  margin: auto;
  text-align: center;
}

.f-company span {
  color: #f7073f;
}

.fusion,
.products,
.resources {
  width: 15%;
}

.f-contact {
  width: 20%;
}

.s-icons img {
  width: 15px;
  margin-right: 30px;
}

.s-icons {
  margin: 7px 0px;
}

.f-contact-info img {
  width: 20px;
  padding-top: 15px;
}

.f-contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-contact-info div:nth-child(2) {
  padding: 0px 5px;
}

.f-content > div {
  padding: 10px;
}

.f-content > div h2 {
  margin-top: 2px;
}

.arrow {
  border-radius: 50%;
  display: inline;
  -webkit-box-shadow: 2px 0px 6px 2px #0000000d;
          box-shadow: 2px 0px 6px 2px #0000000d;
  right: 15px;
  bottom: 15px;
  position: fixed;
}

.arrow button {
  border-radius: 50%;
  padding: 3px;
  border: none;
  background-color: #f7073f;
}

.arrow button img {
  width: 30px;
  height: 25px;
}

@media screen and (max-width: 1200px) {
  .f-content {
    width: 992px;
  }
  .f-company {
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  .f-content {
    width: 750px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .f-company {
    width: 750px;
  }
  .fusion,
  .f-contact,
  .products,
  .resources {
    width: 45%;
  }
}

@media screen and (max-width: 992px) and (max-width: 768px) {
  .f-content {
    width: 550px;
  }
  .f-company {
    width: 550px;
  }
}

@media screen and (max-width: 992px) and (max-width: 576px) {
  .f-content {
    width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .f-company {
    width: 400px;
  }
  .fusion,
  .f-contact,
  .products,
  .resources {
    width: 100%;
    margin: 10px 0px;
  }
}

@media screen and (max-width: 400px) {
  .f-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 400px) and (max-width: 400px) {
  .f-company {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*# sourceMappingURL=index.css.map */