@import "shared";
p{
  @include normal-text;
}
.intro{
  width: 85%;
  margin-left: 15%;
  background-image: url(../assets/hero-area.svg), url(../assets/intro-mobile.png);
  background-repeat: no-repeat,no-repeat;
  background-size: cover,38% 66%;
  background-position: left 71%, 70% 10%;
}
.intro-content{
  height: 500px;
    margin-top: 130px;
    padding: 20px 10px;
    width: 40%;
}
.intro-title{
  font-size: 50px;
}
#dBtn{
  @include button(white,red);
  border: none;
  margin-right: 12px;
}
#lBtn{
  @include button(#df5d88,white);
  background-color: white;
  border: 2px solid #df5d88;
}