@import "../shared";
.services{
  width: 1200px;
  margin: 30px auto;
}
.service-title{
  @include section-title;
}
.service-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service-content .s-item{
  text-align: center;
  width:30%;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 2px 1px 6px 2px #00000029;
  box-shadow: $primaryShadow;
  padding: 20px 10px;
}
.s-item .icon-container{
  @include circleIcon(white);
  border: 1px solid #8080801f;
}
.icon-container img{
  vertical-align: middle;
  width: 30px;
}
@media screen and (max-width: 1200px) {
  .services{
    // width: 100%;
    width: 992px;
    // padding-left: 10px;
    // padding-right: 10px;
  }
}
@media screen and (max-width: 992px) {
  .services{
    width: 750px;
  }
  .service-content .s-item{
    width:48%;
  }
  .service-title{
    margin: 40px 0px;
    span{
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .services{
    width: 550px;
  }
}
@media screen and (max-width: 576px) {
  .services{
    width: 400px;
  }
  .service-content{
    flex-direction: column;
    .s-item{
      width: 100%;
    }
  }
}
@media screen and (max-width: 400px) {
  .services{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}