@import "../shared";
.services{
  width: 1200px;
  margin: 30px auto;
}
.service-title{
  @include section-title;
}
.service-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service-content .s-item{
  text-align: center;
  flex:0 1 30%;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 2px 1px 6px 2px #00000029;
  box-shadow: $primaryShadow;
  padding: 20px 10px;
}
.s-item .icon-container{
  @include circleIcon(white);
  border: 1px solid #8080801f;
}
.icon-container img{
  width: 30px;
}