@import "../shared";
.team-section{
  background-color: whitesmoke;
  padding: 50px 0px;
}
.team{
  width: 70%;
  margin: auto;
}
.team-title{
  @include section-title;
  margin-bottom: 35px;
}
.team-content{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.instructor{
  flex: 48%;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  flex-grow: 0;
}
.i-img{
display: inline-block;
width: 30%;
height: 100%;
}
.i-role{
   @include normal-text;
   color: rgb(104, 103, 103)
}
.i-about{
  @include normal-text;
}
.i-img img{
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.i-info{
  display: inline-block;
  width: 69%;
  vertical-align: top;
  padding: 3px 10px;
  height: 100%;
}
.icon img{
  width: 20px;
  margin-right: 7px;
}