@import "../shared";
.price-section{
  width: 1200px;
  margin: auto;
  margin-bottom: 30px;
}
.price-title{
  @include section-title;
}
.price-content{
  display: flex;
  justify-content: space-between;
}
.plan{
  width: 30%;
  box-shadow: $primaryShadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
  margin: 20px 0px;
}
#plan-2{
  box-shadow: 2px 1px 6px 6px #0000000f; 
}
.price span{
  font-size: 1.3em;
  font-weight: bold;
  color: $primaryColor;
}
.buyBtn{
  @include button(white,$primaryColor);
  border: none;
}

#plan-1 .icon-container,#plan-3 .icon-container{
  @include circleIcon(rgb(224, 224, 224));
}
#plan-2 .icon-container{
  @include circleIcon($primaryColor);
}
@media screen and (max-width: 1200px) {
  .price-section{
    // width: 100%;
    width: 992px;
    // padding-left: 10px;
    // padding-right: 10px;
  }
}
@media screen and (max-width: 992px) {
  .price-section{
    width: 750px;
  }
  .price-content{
    flex-wrap: wrap;
  }
  .plan{
    min-width: 350px;
  }
  .price-title{
    margin: 40px 0px;
    span{
      padding-bottom: 20px;
    }
  }
}
@media screen and (max-width: 768px) {
  .price-section{
    width: 550px;
  }
  .plan{
    min-width: 250px;
  }
}
@media screen and (max-width: 576px) {
  .price-section{
    width: 400px;
  }
  .price-content{
    flex-direction: column;
    align-items: center;
  }
  .plan{
    // min-width: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .price-section{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}