@import "../shared";
footer {
  // position: relative;
  padding: 15px 0px;
}
.f-content {
  width: 1200px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.f-company {
  width: 1200px;
  margin: auto;
  text-align: center;
}
.f-company span {
  color: $primaryColor;
}
.fusion,
.f-contact,
.products,
.resources {
  width: 15%;
}
.s-icons img {
  width: 15px;
  margin-right: 30px;
}
.s-icons {
  margin: 7px 0px;
}
.f-contact-info img {
  width: 20px;
  padding-top: 15px;
}
.f-contact-info {
  display: flex;
}
.f-contact-info div:nth-child(2) {
  padding: 0px 5px;
}
.f-content > div {
  padding: 10px;
}
.f-content > div h2 {
  margin-top: 2px;
}
.arrow {
  border-radius: 50%;
  display: inline;
  box-shadow: $primaryShadow;
  right: 15px;
  bottom: 15px;
  position: fixed;
}
.arrow button {
  border-radius: 50%;
  padding: 3px;
  border: none;
  background-color: $primaryColor;
}
.arrow button img {
  width: 30px;
  height: 25px;
}
@media screen and (max-width: 1200px) {
  .f-content{
    // width: 100%;
    width: 992px;
    // padding-left: 10px;
    // padding-right: 10px;
  }
  .f-company{
    // width: 100%;
    width: 992px;
    // padding-left: 10px;
    // padding-right: 10px;
  }
}
@media screen and (max-width: 992px) {
  .f-content{
    width: 750px;
    flex-wrap: wrap;
  }
  .f-company{
    width: 750px;
  }
  .fusion,
.f-contact,
.products,
.resources {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .f-content{
    width: 550px;
  }
  .f-company{
    width: 550px;
  }
}
@media screen and (max-width: 576px) {
  .f-content{
    width: 400px;
    flex-direction: column;
    align-items: center;
  }
  .f-company{
    width: 400px;
  }
  .fusion,
  .f-contact,
  .products,
  .resources {
    width: 100%;
    margin: 10px 0px;
  }
}
}

