@import "../shared";
.users-section{
  background-color: $primaryColor;
  padding: 20px 0px;
}
.users{
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.user{
  display: flex;
  flex-direction: column;
  flex: 0 1 32%;
  align-items: center;
  background-color: white;
  padding:50px 25px;
  box-shadow: $primaryShadow;
}
.u-img img{
  border-radius: 50%;
}
.u-name{
  margin: 7px 0;
}
.u-role{
  margin: 5px 0px;
  font-weight: bold;
  color: rgb(36, 36, 36);
}
.dotIcons{
  text-align: center;
  margin: 20px 0px;
}
.dot{
  height: 10px;
  width: 10px;
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 5px;
}
#dot-4{
  background-color: transparent;
}
