@import "../shared";
.contact-section{
  background-color: whitesmoke;
  padding: 10px 0px;
}
.contact{
  width: 1200px;
  margin: 35px auto;
}
.contact-content{
  display: flex;
  justify-content: space-between;
}
.contact-form{
  width: 60%;
  padding: 10px;
}
.contact-map{
  width: 40%;
  padding: 10px;
  iframe{
    width: 100%;
  }
}
.contact-title{
  @include section-title;
}
.contact-form div{
  margin: 15px 0px;
}
.contact input{
  border-radius: 5px;
  border: none;
}
.email-name{
  display: flex;
  justify-content: space-between;
}
.email-name input{
  width:47%;
  padding: 10px;
}
.subject input,.message textarea{
  width: 100%;
  padding: 10px;
}
.message textarea{
  height: 150px;
  border-radius: 5px;
  border: none;
}
input[type=submit]{
  @include button(white,$primaryColor);
  border: none;
}
@media screen and (max-width: 1200px) {
  .contact{
    // width: 100%;
    width: 992px;
    // padding-left: 10px;
    // padding-right: 10px;
  }
}
@media screen and (max-width: 992px) {
  .contact{
    width: 750px;
  }
  .contact-content{
    flex-direction: column;
  }
  .contact-form,.contact-map{
      width: 100%;
  }
  .contact-title{
    margin: 40px 0px;
    span{
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact{
    width: 550px;
  }
}
@media screen and (max-width: 576px) {
  .contact{
    width: 400px;
  }
  .email-name{
    flex-direction: column;
    input{
      width: 100%;
    }
    input[name="name"]{
      margin-bottom: 15px;
    }
  }

}