@import "../shared";
.features{
  width: 70%;
  margin: 65px auto;
  background: url(../../assets/features.png) left 50% top 60%/ 400px 400px no-repeat;
}
.features-title{
  @include section-title;
}
.features-content{
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
  flex-wrap: wrap;
  // height: 500px;
}
.f-item{
    flex: 30%;
    padding: 10px;
    margin: 10px 30px;
    box-shadow: $primaryShadow;
    flex-grow: 0;
}
.f-item div{
    width: 80%;
    padding: 5px;
    display: inline-block;
}
.f-item .f-img{
  vertical-align: top;
  margin-top: 25px;
  width: 10%;
}
.f-img:nth-child(even){
  margin-left: 5px;
}
.f-img:nth-child(odd){
  margin-right: 10px;
}
.f-img img{
  width: 30px;
}