@import "../shared";
p {
  @include normal-text;
}
.intro-section {
  background-image: url(../assets/hero-area.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 62%;
  padding: 100px 0px;
  .intro {
    width: 1200px;
    margin: auto;
    display: flex;

    .intro-content {
      padding: 20px 10px;
      width: 50%;
      .intro-title {
        font-size: 50px;
      }
      #dBtn {
        @include button(white, $primaryColor);
        border: none;
        margin-right: 12px;
      }
      #lBtn {
        @include button($primaryColor, white);
        background-color: white;
        border: 2px solid #df5d88;
      }
    }
    .side-img {
      width: 50%;
      padding: 20px;
      text-align: center;
      img{
        width: 75%;
        height: auto;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .intro{
      // width: 100%;
      width: 992px;
      // padding-left: 10px;
      // padding-right: 10px;
    }
  }
}

@media screen and (max-width: 992px) {
  .intro-section{
    background-position: center;
  .intro{
    flex-direction: column;
    width: 750px;
    .intro-content,.side-img{
      width: 100%;
    }
    .side-img{
      padding: 0;
      img{
        width: 100%;
      }
    } 
  }
}
}

@media screen and (max-width: 768px) {
  .intro-section{
    .intro{
      width: 550px;
    }
  }
}
@media screen and (max-width: 576px) {
  .intro-section{
  .intro{
    width: 400px;
  }
}
}